.footer{
    margin-top: 40px;
}

.footer1{
    background-color: #C8626D;
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: aliceblue;
    margin-bottom: 30px;
}
.img{
    margin-left: 60px;
    margin-top: 40px;
}
.hi{
    color: white;
    margin-top: 40px;
}

.Footer2{
    background-color: black;
    color: aliceblue;
    height: 60px;
    text-align: center;
    
}

.footer3{ 
    text-align: center;
}
